h1.section-title {
	font-size: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

h1.section-title .glyphicon {
	font-size: 25px;
	color: #428bca;
}

table thead th.sort:hover {
    background-color: #efefef;
    cursor: pointer;
}

table thead th.sorted {
    background-color: #efefef;
}

table tbody td {
    cursor: pointer;
}