<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Book Finder (Marionette)</title>

	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.2.2/backbone.marionette.min.js"></script>
	<script type='text/javascript' src="js/app.js"></script>
  
</head>
<body>

    <div class="container" id="content"></div>

    <script type="text/template" id="list-template">
        <h1 class="section-title"><span class="glyphicon glyphicon-circle-arrow-right"></span> Books list</h1>    
        <div id="filter"></div>        
        <div id="table"></div>     
    </script>

    <script type="text/template" id="filter-template">
        <div class="input-group" style="padding-bottom: 10px;"> 
            <span class="input-group-addon">Filter</span>
            <input type="text" class="form-control" placeholder="Type here...">
        </div>        
    </script>
        
    <script type="text/template" id="table-template">    
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th class="sort" data-sort_by="title">Title</th>
                    <th class="sort" data-sort_by="language">Language</th>
                    <th class="sort" data-sort_by="edition">Edition</th>
                    <th class="sort" data-sort_by="publisher">Publisher</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>        
    </script>
        
    <script type="text/template" id="row-template">
        <td><%= title %></td>
        <td><%- language %></td>
        <td><%- edition %></td>
        <td><%- publisher %></td>        
    </script>

    <script type="text/template" id="file-template">
        <h1 class="section-title"><span class="glyphicon glyphicon-circle-arrow-right"></span> Book file <small><%- title %></small></h1>
        
        <form role="form">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Book title here" value="<%- title %>">
          </div>
          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" class="form-control" name="language" id="language" placeholder="Book language here" value="<%- language %>">
          </div>
          <div class="form-group">
            <label for="edition">Edition</label>
            <input type="text" class="form-control" name="edition" id="edition" placeholder="Book edition here" value="<%- edition %>">
          </div>  
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" name="publisher" id="publisher" placeholder="Book publisher here" value="<%- publisher %>">
          </div>           
        </form>
        <button class="btn btn-danger cancel">Cancel</button>
        <button class="btn btn-success save">Save</button>
    </script>
  
</body>
</html>